<div class="row text-center">
    <div class="col-md-6 offset-3">
    <h1 class="text-info"> Dotarłeś na koniec internetu</h1>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Buty" asp-action="Index"> Strona główna</a>
    </div>
    
</div>