@model List<Kolorystyka>

@{
    ViewData["Title"] = "Lista Kolorystyk";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table>
            <thead>
                <tr>
                    <th>Zdjecie koloru</th>
                </tr>
            </thead>
            
        </table>     
    </div>
</div>